
<div class="container">
    <h1>Registros de Curriculum</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Foto</th>
                <th>Objetivos</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td>Adrian</td>
                <td>Valdez</td>
                <td>valdezadrian@gmail.com</td>
                <td>23/09/2004</td>
                <td>SM 41</td>
                <td><img src="" alt="Foto"></td>
                <td>Ser Senior</td>
                <td>
                    <a class="btn btn-primary" asp-action="Editar">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="#">Eliminar</a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

