@model Web_24BM.Models.Curriculum

<h1 class="text-center m-5">Editar Curriculum</h1>

<div class="container">
    <a class="btn btn-success btn-lg fw-bold mb-4" asp-action="Index" asp-controller="Curriculum">Volver</a>

    <form asp-action="Edit" asp-controller="Curriculum" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" value="@Model.Id" />

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Información Personal</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" asp-for="Nombre" class="form-control form-control-lg" />
                            <span class="text-danger" asp-validation-for="Nombre"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellidos</label>
                            <input type="text" asp-for="Apellidos" class="form-control form-control-lg" />
                            <span class="text-danger" asp-validation-for="Apellidos"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">CURP</label>
                            <input type="text" asp-for="CURP" class="form-control form-control-lg" />
                            <span class="text-danger" asp-validation-for="CURP"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" asp-for="Email" class="form-control form-control-lg" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                       
                        <div class="mb-3">
                            <label class="form-label">Fecha de Nacimiento</label>
                            <input type="date" asp-for="FechaNacimiento" class="form-control form-control-lg" />
                            <span class="text-danger" asp-validation-for="FechaNacimiento"></span>
                        </div>
                         <div class="mb-3">
                            <label class="form-label">Direccion</label>
                            <input type="text" asp-for="Direccion" class="form-control form-control-lg" />
                            <span class="text-danger" asp-validation-for="Direccion"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Foto</label>
                            <input type="file" asp-for="Foto" class="form-control form-control-lg" />
                            <img width="160" height="160" src="~/Archivos/@Model.NombreFoto" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Información Profesional</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Objetivo</label>
                            <textarea asp-for="Objetivo" class="form-control form-control-lg"> </textarea>

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Datos laborales</label>
                            <textarea asp-for="DatosLaboral" class="form-control form-control-lg"> </textarea>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg mt-4 mb-4 fw-bold">Editar Curriculum</button>
    </form>
</div>



